travel-on-tip-external-system-api/src/main/mule/global/tavel-on-tip.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="tavel-on-tipFlow" doc:id="dce83c98-506d-40ca-b455-e4941997ad61" >
		<http:listener doc:name="GET: /TravelOnTip" doc:id="c7a89255-299a-4e35-8f8f-6c9b079ac13a" config-ref="HTTP_Listener_config" path="${http.listner.path}">
			<http:error-response statusCode="#[vars.errStatusCode]" >
				<http:body ><![CDATA[#[vars.errorMsg]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="32851b7c-8c87-4612-b58e-7e0b682b09e3" message="TravelOnTip External API: Request received; TransactionId = #[attributes.headers.transactionId]"/>
		<set-variable value="#[attributes.headers.transactionId]" doc:name="TranssactionId" doc:id="e7fdbc62-fcc7-4148-8e8b-9adaa465c794" variableName="TranssactionId"/>
		<set-variable value="#[attributes.uriParams.service]" doc:name="service" doc:id="fbbb867d-41f6-49b5-9ac9-76b5c8e90f2f" variableName="service"/>
		<choice doc:name="Choice" doc:id="4f2d7fc3-5962-401e-bfe6-f9734d2a6a66">
			<when expression='#[vars.service =="routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="df2ddd90-a49b-4070-aaa4-1711bebe94b0" message="TravelOnTip External API: Request being sent to GetRoutes; TransactionId = #[vars.TranssactionId]"/>
				<flow-ref doc:name="To Get Routes Subflow" doc:id="9189bc15-8355-409e-9d93-583263db2ab7" name="travel-on-tip-get-routes-impFlow"/>
			</when>
			<when expression='#[vars.service == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="e45c8d9a-675d-43c8-83a6-62ad67493d5a" message="TravelOnTip External API: Request being sent to GetSchedules; TransactionId = #[vars.TranssactionId]"/>
				<flow-ref doc:name="To Get Schedules Subflow" doc:id="3c83e856-5b82-4ed5-8547-510bdd183373" name="travel-on-tip-get-schedules-impFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="74f40811-0b60-46c2-aff8-31caee60adaf" message="TravelOnTip External API: No mactching service; TransactionId = #[vars.TranssactionId]" />
				<ee:transform doc:name="Set default Payload" doc:id="7f9a128e-4617-4420-ae4d-348426625b9e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Requested service doesn't exist'"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="776d6397-3c98-4f45-99ff-b11789e580ca" message="TravelOnTip External API: Retruning to calling application; TransactionId = #[vars.TranssactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0762deb2-60ef-4dd3-ac5a-3eb20e7add0d" >
				<logger level="INFO" doc:name="Logger" doc:id="f18df0ba-5817-4756-aaf9-e86b0136face" message="TravelOnTip External API: ERROR, cause = #[error.errorMessage] ;TransactionId = #[vars.TranssactionId]"/>
				<ee:transform doc:name="Set Err msg and code" doc:id="55b72bb1-ef3d-4887-b5af-fb6708ff50b3" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"Error Message": "Error in external system"
}]]></ee:set-variable>
						<ee:set-variable variableName="errStatusCode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
